# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Data files (опционально, если не хотим коммитить данные)
workouts.json

# OS
.DS_Store
Thumbs.db
